<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TtayanaWorld (DEMO)</title>
<script type="text/javascript" src="Scripts/jquery.min.js"></script>
<script type="text/javascript" src="Scripts/jquery.cycle.all.2.74.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>
<!--[if lt IE 7]>
<script type="text/javascript" src="javascript/iepngfix_tilebg.js"></script>
<![endif]-->

<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/homestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contain">
<img src="images/company.jpg" alt="&quot;&quot;" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="561,23,643,95" href="yachts_1.htm" />
<area shape="rect" coords="643,20,724,96" href="news.htm" />
<area shape="rect" coords="723,20,820,97" href="company.htm" />
<area shape="rect" coords="821,20,909,96" href="dealers.htm" />
<area shape="rect" coords="7,20,304,99" href="index.htm" />
<area shape="rect" coords="910,23,1001,96" href="contact.htm" />
</map>
</div>
</body>
</html>
