<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TtayanaWorld (DEMO)</title>
<script type="text/javascript" src="Scripts/jquery.min.js"></script>
<script type="text/javascript" src="Scripts/jquery.cycle.all.2.74.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>
<!--[if lt IE 7]>
<script type="text/javascript" src="javascript/iepngfix_tilebg.js"></script>
<![endif]-->
<link href="css/style.css" rel="stylesheet" type="text/css" />


<link href="css/reset.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contain"><img src="images/DEALERS.jpg" alt="&quot;&quot;" width="1002" height="1500" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="561,21,644,93" href="yachts.htm" />
<area shape="rect" coords="646,16,723,94" href="news.htm" />
<area shape="rect" coords="722,13,821,97" href="company.htm" />
<area shape="rect" coords="821,13,913,100" href="dealers.htm" />
<area shape="rect" coords="14,14,315,104" href="index.htm" />
<area shape="rect" coords="912,14,1003,100" href="contact.htm" />
</map></div>
</body>
</html>
