<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TtayanaWorld (DEMO)</title>
<script type="text/javascript" src="Scripts/jquery.min.js"></script>
<script type="text/javascript" src="Scripts/jquery.cycle.all.2.74.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>
<!--[if lt IE 7]>
<script type="text/javascript" src="javascript/iepngfix_tilebg.js"></script>
<![endif]-->
<link href="css/style.css" rel="stylesheet" type="text/css" />


<link href="css/reset.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contain"><img src="images/news_show.jpg" alt="&quot;&quot;" width="1002" height="1260" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="561,20,643,96" href="yachts.htm" />
<area shape="rect" coords="645,19,724,97" href="news.htm" />
<area shape="rect" coords="724,19,821,97" href="company.htm" />
<area shape="rect" coords="818,22,911,95" href="dealers.htm" />
<area shape="rect" coords="10,11,340,102" href="index.htm" />
<area shape="rect" coords="912,23,1003,98" href="contact.htm" />
</map></div>
</body>
</html>
