<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TtayanaWorld (DEMO)</title>
<script type="text/javascript" src="Scripts/jquery.min.js"></script>
<script type="text/javascript" src="Scripts/jquery.cycle.all.2.74.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>
<!--[if lt IE 7]>
<script type="text/javascript" src="javascript/iepngfix_tilebg.js"></script>
<![endif]-->
<link href="css/style.css" rel="stylesheet" type="text/css" />


<link href="css/reset.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contain"><img src="images/news_list.jpg" width="1002" height="1600" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="558,21,641,94" href="yachts_1.htm" />
<area shape="rect" coords="641,19,722,94" href="news.htm" />
<area shape="rect" coords="721,19,820,97" href="company.htm" />
<area shape="rect" coords="271,557,983,707" href="news_1.htm" />
<area shape="rect" coords="16,16,305,96" href="index.htm" />
<area shape="rect" coords="818,18,913,97" href="dealers.htm" />
<area shape="rect" coords="914,18,1003,99" href="contact.htm" />
</map></div>
</body>
</html>
