<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TtayanaWorld (DEMO)</title>
<script type="text/javascript" src="Scripts/jquery.min.js"></script>
<script type="text/javascript" src="Scripts/jquery.cycle.all.2.74.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>
<!--[if lt IE 7]>
<script type="text/javascript" src="javascript/iepngfix_tilebg.js"></script>
<![endif]-->
<link href="css/style.css" rel="stylesheet" type="text/css" />


<link href="css/reset.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contain"><img src="images/yachts_1.jpg" alt="&quot;&quot;" width="1002" height="1680" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="322,558,427,596" href="yachts.htm" />
<area shape="rect" coords="427,555,588,591" href="yachts_1.htm" />
<area shape="rect" coords="560,22,642,95" href="yachts.htm" />
<area shape="rect" coords="638,21,722,96" href="news.htm" />
<area shape="rect" coords="719,20,822,95" href="company.htm" />
<area shape="rect" coords="821,19,913,97" href="dealers.htm" />
<area shape="rect" coords="915,19,1001,99" href="contact.htm" />
<area shape="rect" coords="6,16,323,116" href="index.htm" />
<area shape="rect" coords="589,555,716,594" href="yachts_2.htm" />
</map></div>
</body>
</html>
